<section
  class="gap-10 grid grid-cols-1 md:grid-cols-2 bg-base-200 shadow-xl mx-auto mt-20 md:mt-40 p-5 rounded-3xl max-w-5xl"
  id="about"
>
  <div data-aos="fade-right" data-aos-duration="800" data-aos-offset="200">
    <h1 class="mb-2 font-bold text-3xl md:text-4xl">About Me</h1>
    <div class="bg-primary mb-6 rounded w-20 h-1"></div>

    <p class="text-gray-500 leading-relaxed">
      Hello! My name is Rayner, and I love building things for the web. My
      journey into web development started back in 2018 when I stumbled upon
      customizing simple PHP scripts for a small business project. Tinkering
      with HTML & CSS late into the night quickly turned into a passion for
      creating <span class="font-semibold text-primary">elegant</span>,
      <span class="font-semibold text-primary">efficient</span>, and <span
        class="font-semibold text-primary">user-friendly</span
      > experiences.
    </p>

    <p class="mt-4 text-gray-500 leading-relaxed">
      Beyond coding, I enjoy diving into computer science fundamentals and
      exploring new tools that push my problem-solving skills further. Whether
      it’s prototyping ideas or refining user experiences, I’m driven by the
      belief that good software should make life simpler and more enjoyable.
    </p>

    <p class="mt-4 text-gray-500 leading-relaxed">
      Here are a few technologies I’ve been working with recently:
    </p>

    <div class="mt-6 space-y-4">
      <div>
        <h3 class="font-bold text-base-content">Frontend</h3>
        <ul class="text-gray-500 list-disc list-inside marker:text-primary">
          <li>JavaScript (ES6+), TypeScript, React, Astro, Tailwind CSS</li>
        </ul>
      </div>

      <div>
        <h3 class="font-bold text-base-content">Backend</h3>
        <ul class="text-gray-500 list-disc list-inside marker:text-primary">
          <li>Node.js, Express, PHP, Firebase, SQL</li>
        </ul>
      </div>

      <div>
        <h3 class="font-bold text-base-content">Emerging Tech (Learning)</h3>
        <ul class="text-gray-500 list-disc list-inside marker:text-primary">
          <li>C#, Unity, AR/VR Development</li>
        </ul>
      </div>
    </div>
  </div>

  <div
    data-aos="fade-left"
    data-aos-duration="800"
    data-aos-offset="200"
    class="flex justify-center md:justify-end"
  >
    <img
      src="/assets/profile.webp"
      alt="Rayner coding"
      loading="lazy"
      class="shadow-lg hover:shadow-2xl border-2 border-primary rounded-2xl md:w-72 max-w-full h-100 object-cover hover:rotate-1 hover:scale-105 transition-transform duration-300"
    />
  </div>
</section>
