---
import "../styles/global.css";
import Header from "../components/Header.astro";
import ChristmasPopup from "../components/ChristmasPopup.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Portfolio of Rayner - A Versatile Software Engineer specializing in Frontend, Backend, and Interactive 3D Web Experiences."
    />
    <title>Rayner | Software Engineer & Creative Technologist</title>
  </head>
  <body class="px-3 overflow-hidden">
    <ChristmasPopup />
    <Header />

    <slot />

    <!-- <Footer /> -->

    <script src="/src/scripts/main.js"></script>
    <script src="/src/scripts/aos.js"></script>
    <script src="/src/scripts/cursor.js"></script>
    <script src="/src/scripts/themeToggle.js"></script>
    <script src="/src/scripts/snow.js"></script>
  </body>
</html>
